<ng-container *ngIf="pokemonSelecionado">
    <p-card [header]="descricaoPokemon.name" class="card card-shadow">
        <div class="flex align-content-start">
            <div>
                <p-image [src]="pokemonSelecionado.sprites.front_default" alt="Image" width="125"
                    (click)="onClickInfoPokemon()"></p-image>
            </div>

            <div class="grid">
                <div class="col-12 flex justify-content-start flex-wrap p-0">
                    <strong>National Nº</strong>
                    <p class="pl-2 m-0">{{descricaoPokemon.nationalNumber}}</p>
                </div>
                <div class="col-12 flex justify-content-start flex-wrap p-0">
                    <strong>Species</strong>
                    <p class="pl-2 m-0">{{descricaoPokemon.species}}</p>
                </div>
                <div class="col-12 flex justify-content-start flex-wrap p-0">
                    <strong>Abilities</strong>
                    <div>
                        <p *ngFor="let ability of descricaoPokemon.abilities" class="pl-2 m-0">
                            {{ability.name}} {{ability.isHidden ? '(hidden ability)' : null}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid">
                <small *ngFor="let stat of pokemonSelecionado.stats" class="col-12 p-0">
                    {{stat.stat.name}}: {{stat.base_stat}}
                </small>
            </div>
        </div>
    </p-card>
</ng-container>